@{
    var userLogic = EPAM.Task6._01_Users.Common.DependencyResolver.UserLogic;
    userLogic.LoadProgramUserList();
}
@if (IsPost)
{
    var user = Request["UserName"];
    var password = Request["Password"];

    if (userLogic.Authorization(user, password))
    {
        FormsAuthentication.SetAuthCookie(user, createPersistentCookie: true);
    }
    Response.Redirect("~/index.cshtml");
    return;
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/LoginStyle.css" />
    <title>Log In</title>
</head>
<body>
    <div class="navigation">
        <a href="~/index.cshtml">Home</a>
        <a href="~/registration.cshtml">Registration</a>
    </div>
    <div class="container">
        <form action="~/login.cshtml" method="post">
            <input placeholder="Username (admin)" type="text" name="UserName" />
            <input placeholder="Password (password)" type="password" name="Password" />
            <button type="submit">Log In</button>
    </div>
    </form>
</body>
