@{
    var userLogic = EPAM.Task6._01_Users.Common.DependencyResolver.UserLogic;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>
        <form action="~/registration.cshtml" method="post">
            <input placeholder="Username" type="text" name="userName" />
            <input placeholder="Password" type="text" name="password" />
            <input placeholder="Confirm Password" type="text" name="confirmPassword" />
            <input placeholder="Role" type="text" name="role" />
            <button type="submit">Submit</button>
            @if (IsPost)
            {
                string name = Request["userName"];
                string password = Request["password"];
                string role = Request["role"];
                if (!string.IsNullOrWhiteSpace(name) && !string.IsNullOrWhiteSpace(password) && password.Equals(Request["confirmPassword"]))
                {
                    var user = new EPAM.Task6._01_Users.Entities.ProgramUser(name, password, role);
                    userLogic.AddProgramUser(user);
                    Response.Redirect("~/index.cshtml");
                }
                Response.Redirect("~/registration.cshtml");
            }
        </form>
    </div>
</body>
</html>
