@{
    var userLogic = EPAM.Task6._01_Users.Common.DependencyResolver.UserLogic;
    userLogic.LoadUserList();
    userLogic.LoadAwardList();
    var users = userLogic.GetAll();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style.css" />
    <script src="~/JavaScript.js"></script>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="userList">
            <h2>Users and Awards</h2>
            <ul>
                @foreach (var user in users)
                {
                    var imgSrc = "https://www.aj-chambers.com/front/images/default-user.jpg";
                    if (user.Image != null)
                    {
                        var base64 = Convert.ToBase64String(user.Image);
                        imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    }

                    <li><img id="user" src="@imgSrc" /> @user.ToString()</li>
                }
            </ul>
        </div>
        <div class="buttons">
            <button id="addUser" type="submit" onclick="AddUserMenu()">Add User</button>
            <button id="editUser" type="submit" onclick="EditUserMenu()">Edit User</button>
            <button id="addAward" type="submit" onclick="AddAwardMenu()">Add Award</button>
            <button id="removeAward" type="submit" onclick="RemoveAwardMenu()">Remove Award</button>
            <button id="removeUser" type="submit" onclick="RemoveUserMenu()">Remove User</button>
        </div>
        <div class="forms">
            <form id="addUserMenu" action="~/ViewPage1.cshtml" method="post">
                @if (IsPost && !Request["addFirstName"].IsEmpty())
                {
                    string addFirstName = Request["addFirstName"].ToLower();
                    string addLastName = Request["addLastName"].ToLower();
                    if (DateTime.TryParse(Request["addBirthDate"], out DateTime addBirthDate))
                    {
                        if (!Request["addUserImage"].IsEmpty())
                        {
                            byte[] image = File.ReadAllBytes(Request["addUserImage"]);
                            var newUser = new EPAM.Task6._01_Users.Entities.User
                            {
                                FirstName = addFirstName,
                                LastName = addLastName,
                                DateOfBirth = addBirthDate,
                                Image = image,
                            };
                            userLogic.AddUser(newUser);
                        }
                        else
                        {
                            var newUser = new EPAM.Task6._01_Users.Entities.User
                            {
                                FirstName = addFirstName,
                                LastName = addLastName,
                                DateOfBirth = addBirthDate,
                            };
                            userLogic.AddUser(newUser);
                        }
                        @:<script>window.location.replace("/ViewPage1.cshtml")</script>
                    }
                }
            </form>
            <form id="editUserMenu" action="~/ViewPage1.cshtml" method="post">
                @if (IsPost && (!Request["editId"].IsEmpty()))
                {

                    if (int.TryParse(Request["editId"], out int editId))
                    {
                        string editFirstName = Request["editFirstName"].ToLower();
                        string editLastName = Request["editLastName"].ToLower();
                        string editBirthDate = Request["editBirthDate"];
                        userLogic.EditUser(editId, editFirstName, editLastName, editBirthDate);
                        @:<script>window.location.replace("/ViewPage1.cshtml")</script>
                    }
                }
            </form>
            <form id="removeUserMenu" action="~/ViewPage1.cshtml" method="post">
                @if (IsPost && !Request["removeId"].IsEmpty())
                {
                    char[] div = { '.', ',', ' ' };
                    string[] removeIdList = Request["removeId"].Split(div, StringSplitOptions.RemoveEmptyEntries);
                    foreach (var id in removeIdList)
                    {
                        userLogic.Remove(Convert.ToInt32(id));
                    }
                    @:<script>window.location.replace("/ViewPage1.cshtml")</script>
                }
            </form>
            <form id="addAwardsMenu" action="~/ViewPage1.cshtml" method="post">
                @if (IsPost && !Request["addAwardTitle"].IsEmpty())
                {
                    string awardTitle = Request["addAwardTitle"].ToLower();
                    {
                        var newAward = new EPAM.Task6._01_Users.Entities.Award
                        {
                            Title = awardTitle,
                        };
                        try
                        {
                            userLogic.AddAward(newAward);
                            char[] div = { '.', ',', ' ' };
                            string[] addAwardIdList = Request["addAwardId"].Split(div, StringSplitOptions.RemoveEmptyEntries);
                            foreach (var id in addAwardIdList)
                            {
                                userLogic.AddAwardToUser(Convert.ToInt32(id), newAward);
                            }
                            @:<script>window.location.replace("/ViewPage1.cshtml")</script>
                        }
                        catch (ArgumentException)
                        {
                            @:<script>alert("This award already exist")</script>
                        }

                    }
                }
            </form>
            <form id="removeAwardsMenu" action="~/ViewPage1.cshtml" method="post">
                @if (IsPost && !Request["removeAwardTitle"].IsEmpty())
                {
                    string removeAwardTitle = Request["removeAwardTitle"];
                    userLogic.RemoveAward(removeAwardTitle);
                    @:<script>window.location.replace("/ViewPage1.cshtml")</script>
                }
            </form>
        </div>
    </div>
</body>
</html>