* {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 1080px;
    max-width: 95%;
    margin: auto;
    margin-bottom: 2em;
}

.navigation {
    font-size: small;
    padding: 1em 0 0 2.5em;
}

.title {
    font-size: medium;
    color: black;
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: 0.33em;
}

.loginLogout {
    display: inline-block;
}

.highlight {
    font-size: small;
    margin: .5em;
    padding: .5em 2em;
    color: #424242;
    border-radius: 12px;
    background-color: #ededed;
}

a {
    text-decoration: none;
    color: #424242;
}

button {
    color: #424242;
    outline: none;
}

input {
    outline: none;
}

.hoverable {
    padding: .25em;
    border: none;
    border-radius: 6px;
    background-color: white;
}

    .hoverable:hover {
        background-color: #e0e0e0;
    }

.thickening:hover {
    font-weight: bold;
}

footer {
    padding: 0.25em 1.75em;
}

.bright {
    padding: .25em;
    border: none;
    border-radius: 6px;
    background-color: #f8bbd0;
    font-size: medium;
}

.messageForm {
    resize: none;
    width: 100%;
    border-radius: 6px;
    margin: 0 -0.33em;
    padding: 0.33em;
    height: 8em;
    margin-bottom: 0.25em;
    outline: none;
}

.threadForm {
    width: 100%;
    border-radius: 6px;
    border: 1px #a9a9a9 solid;
    padding: 0.33em;
    margin: 1em -0.33em;
}

.form {
    display: block;
    border-radius: 6px;
    border: 1px #a9a9a9 solid;
    margin: 1em auto;
    padding: 0.33em;
}

#newUser {
    border: red 1px solid;
    width: 10%;
    margin: auto;
}

h4 {
    padding: 0.25em 2em;
}
