<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styleSheet.css" />
    <script src="~/js/JavaScript.js"></script>
</head>
<body>
    <div class="navigation">
        <a class="title" href="~/cshtml/index">Simple Forum</a>
        @if (User.IsInRole("admin"))
        {
            <div class="loginLogout hoverable">
                <a href="~/cshtml/administration">Administration</a>
            </div>
        }
        @if (User.Identity.IsAuthenticated)
        {
            var userLogic = EPAM.Final_Common.DependencyResolver.UserLogic;
            int id = userLogic.GetId(User.Identity.Name);
            <a href="~/cshtml/user?id=@id" class="hoverable">@User.Identity.Name @if (User.IsInRole("banned")) { <text>(you are banned)</text> }</a>
            <div class="loginLogout hoverable">
                <a class="loginLogout" href="~/cshtml/logout">Log Out</a>
            </div>
        }
        else
        {
            if (!HttpContext.Current.Request.Url.AbsolutePath.Equals("/cshtml/registration"))
            {
                <div class="loginLogout">
                    @RenderPage("/cshtml/_login.cshtml")
                </div>
            }
        }
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
