@{
    if (IsPost)
    {
        var username = Request["username"];
        var password = Request["password"];
        if (!string.IsNullOrWhiteSpace(username) && !string.IsNullOrWhiteSpace(password))
        {
            var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
            if (forumLogic.Authentication(username, password))
            {
                FormsAuthentication.SetAuthCookie(username, createPersistentCookie: true);
            }

            Response.Redirect("~/cshtml/index");
        }
    }
}
<form method="post">
    <input class="hoverable" placeholder="Username (admin)" type="text" name="username" />
    <input class="hoverable" placeholder="Password (password)" type="password" name="password" />
    <button class="hoverable" type="submit">Log In</button>
    <a class="hoverable" href="~/cshtml/registration">Registration</a>
</form>