@{
    if(!User.Identity.IsAuthenticated)
    {
        Response.Redirect($"~/cshtml/index");
    }

    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    int threadId = Page[0];
}
    <form id="newPost" method="post">
        <textarea class="messageForm" placeholder="Enter your message . . ." type="text" name="text" autocomplete="off" maxlength="4000"></textarea>
        <button class="bright thickening" type="submit">Submit</button>

        @if (IsPost && !Request["text"].IsEmpty())
        {
            string text = Request["text"];
            forumLogic.NewPost(text, threadId, User.Identity.Name);
            Response.Redirect($"~/cshtml/thread?threadId={threadId}");
        }

    </form>