@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect($"~/cshtml/index");
    }

    Layout = "~/cshtml/_layout.cshtml";
    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    var users = forumLogic.GetUsers();
}
<div>
    @foreach (var u in users)
    {
        <a href="~/cshtml/user?id=@u.Id">
            <div class="highlight">
                <p class="title">
                    @u.Username @if (u.Username.Equals(User.Identity.Name))
                    {<text>(you)</text>}
                </p>
                @if (u.Roles.Contains("moderator") && !u.Roles.Contains("admin"))
                {
                    <a class="thickening" href="~/cshtml/editUserRole?userId=@u.Id&newRoleId=3">Take moderation rights</a>
                }
                @if (u.Roles.Contains("user"))
                {
                    <a class="thickening" href="~/cshtml/editUserRole?userId=@u.Id&newRoleId=2">Give moderation rights</a>
                }
                @if(u.Roles.Contains("banned"))
                {
                    <a class="thickening" href="~/cshtml/editUserRole?userId=@u.Id&newRoleId=5">Unban user</a>
                }
                @if(!u.Roles.Contains("banned") && !u.Roles.Contains("admin"))
                {
                    <a class="thickening" href="~/cshtml/editUserRole?userId=@u.Id&newRoleId=4">Ban user</a>
                }
                @if (!u.Roles.Contains("admin"))
                {
                    <a class="thickening" href="javascript:Confirmation('deleteUser?id=@u.Id');">Delete User</a>
                }
            </div>
        </a>
    }
</div>
