@{
    int postId = 0;
    int threadId = 0;
    if (!(int.TryParse(Request.QueryString["postId"], out postId) && int.TryParse(Request.QueryString["threadId"], out threadId)))
    {
        Response.Redirect($"~/cshtml/index");
    }

    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    var p = forumLogic.GetPost(postId);

    if (!(p.Author.Equals(User.Identity.Name) || User.IsInRole("admin")))
    {
        Response.Redirect($"~/cshtml/index");
    }
}

<title>Post delete confirmation</title>
<div>
    <p>You want to delete this post?</p>
    <p>@p.Text</p>
    <a href="~/cshtml/deletePost?postId=@postId&threadId=@threadId">Yes</a>
    <a href="~/cshtml/thread?threadId=@threadId">No</a>
</div>
