@{
    int threadId = 0;

    if (!(int.TryParse(Request.QueryString["id"], out threadId)))
    {
        Response.Redirect($"~/cshtml/index");
    }

    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    var t = forumLogic.GetThread(threadId);

    if (!(t.StartedBy.Equals(User.Identity.Name)))
    {
        Response.Redirect($"~/cshtml/index");
    }

    Layout = "~/cshtml/_layout.cshtml";
}

<title>Thread edit</title>
<form id="editThread" method="post">
    <input placeholder="Subject" value="@t.Subject" name="newSubject" />
    <button type="submit">Submit</button>

    @if (IsPost && !Request["newSubject"].IsEmpty())
    {
        string editedThread = Request["newSubject"];
        forumLogic.EditThread(threadId, editedThread);
        Response.Redirect($"~/cshtml/index");
    }

</form>