@{
    int postId = 0;
    int threadId = 0;

    if (!(int.TryParse(Request.QueryString["postId"], out postId) && int.TryParse(Request.QueryString["threadId"], out threadId)))
    {
        Response.Redirect($"~/cshtml/index");
    }

    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    var p = forumLogic.GetPost(postId);

    if (!p.Author.Equals(User.Identity.Name))
    {
        Response.Redirect($"~/cshtml/index");
    }

    Layout = "~/cshtml/_layout.cshtml";

    if (IsPost && !Request["newMessage"].IsEmpty())
    {
        string editedPost = Request["newMessage"];
        forumLogic.EditPost(postId, editedPost);
        Response.Redirect($"~/cshtml/thread?threadId={threadId}");
    }
}

<title>Post edit</title>
<form id="editPost" method="post">
    <input placeholder="Message . . ." value="@p.Text" name="newMessage" />
    <button type="submit">Submit</button>
</form>
