@{
    Layout = "~/cshtml/_layout.cshtml";
    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    IEnumerable<EPAM.Final_Entities.Thread> threads;

    if (int.TryParse(Request.QueryString["userId"], out int id))
    {
        threads = forumLogic.GetThreadsByUser(id);
    }
    else
    {
        threads = forumLogic.GetThreads();
    }

    if (threads.Count() < 1)
    {
        <p>No threads</p>
    }
}
@foreach (var t in threads)
{
    <a href="~/cshtml/thread?threadId=@t.Id">
        <div class="thread">
            <div class="threadInf">
                <p>@t.Subject</p>
            </div>
            <p>last message @($"{t.LastMessage:f}")</p>
            @if (t.StartedBy.Equals(User.Identity.Name))
            {
                <a class="hickening" href="~/cshtml/editThread?id=@t.Id">Edit</a>
            }
            @if (t.StartedBy.Equals(User.Identity.Name) || User.IsInRole("admin"))
            {
                <a class="hickening" href="~/cshtml/deleteThreadConfirmation?id=@t.Id">Delete</a>
            }
        </div>
    </a>
}
@if (User.Identity.IsAuthenticated)
{
    <footer>
        <a class="bright hickening" href="~/cshtml/newThread">New thread</a>
    </footer>

}
<title>Forum</title>