@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/cshtml/index");
    }

    Layout = "~/cshtml/_layout.cshtml";
    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
}

<title>New Thread</title>
<form id="newThread" method="post">
    <input placeholder="Thread subject" type="text" name="threadName" />
    <input placeholder="Message . . ." type="text" name="messageText" />
    <button type="submit">Submit</button>

    @if (IsPost && !Request["threadName"].IsEmpty() && !Request["messageText"].IsEmpty())
    {
        string threadName = Request["threadName"];
        string messageText = Request["messageText"];
        forumLogic.NewThread(User.Identity.Name, threadName);
        int threadId = forumLogic.GetThreadId(threadName);
        if (threadId != -1)
        {
            forumLogic.NewPost(messageText, threadId, User.Identity.Name);
        }
        else
        {
            Response.Redirect($"~/cshtml/index");
        }

        Response.Redirect($"~/cshtml/thread?threadId={threadId}");
    }

</form>
