@{
    if (!User.Identity.IsAuthenticated && User.IsInRole("banned"))
    {
        Response.Redirect("~/cshtml/index");
    }

    Layout = "~/cshtml/_layout.cshtml";
    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    if (IsPost && !string.IsNullOrWhiteSpace(Request["threadName"]) && !string.IsNullOrWhiteSpace(Request["messageText"]))
    {
        string threadName = Request["threadName"];
        string messageText = Request["messageText"];

        if (forumLogic.NewThread(User.Identity.Name, threadName))
        {
            int threadId = forumLogic.GetThreadId(threadName);
            if (threadId != -1)
            {
                forumLogic.NewPost(messageText, threadId, User.Identity.Name);
                Response.Redirect($"~/cshtml/thread?threadId={threadId}");
            }
        }
        else
        {
            @:<script>alert("Thread with this subject already exist")</script>
        }
    }
}
<title>New Thread</title>
<form id="newThread" method="post">
    <input class="threadForm" placeholder="Thread subject" type="text" name="threadName" autocomplete="off" maxlength="128" />
    <textarea class="messageForm" placeholder="Message . . ." type="text" name="messageText" autocomplete="off" maxlength="4000"></textarea>
    <button class="bright thickening" type="submit">Submit</button>
</form>
