@{
    Layout = "~/cshtml/_layout.cshtml";
    if (IsPost)
    {
        string username = Request["username"];
        string password = Request["password"];
        string passwordConfirmation = Request["confirmPassword"];

        if (!string.IsNullOrWhiteSpace(username) && !string.IsNullOrWhiteSpace(password) && password.Equals(passwordConfirmation))
        {
            var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
            forumLogic.NewUser(username, password);
            Response.Redirect($"~/cshtml/index");
        }
        else
        {
            @:<script>alert("Empty Username or invalid password confirmation")</script>
        }
    }
}



<form id="newUser" method="post">
    <input placeholder="Username" type="text" name="username" />
    <input placeholder="Password" type="password" name="password" />
    <input placeholder="Confirm Password" type="password" name="confirmPassword" />
    <button type="submit">Submit</button>
</form>
<title>Registration</title>