@{
    Layout = "~/cshtml/_layout.cshtml";
    if (IsPost)
    {
        string username = Request["username"];
        string password = Request["password"];
        string passwordConfirmation = Request["confirmPassword"];

        if (!string.IsNullOrWhiteSpace(username) && !string.IsNullOrWhiteSpace(password) && password.Equals(passwordConfirmation))
        {
            var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;

            if (forumLogic.NewUser(username, password))
            {
                Response.Redirect($"~/cshtml/index");
            }
            else
            {
                @:<script>alert("User with this username already exist")</script>
            }
        }
        else
        {
            @:<script>alert("Empty Username or invalid password confirmation")</script>
        }
    }
}

<form id="newUser" method="post">
    <input class="form" placeholder="Username" type="text" name="username" autocomplete="off" maxlength="32" />
    <input class="form" placeholder="Password" type="password" name="password" autocomplete="off" maxlength="64" />
    <input class="form" placeholder="Confirm Password" type="password" name="confirmPassword" autocomplete="off" maxlength="64" />
    <button class="bright thickening" type="submit">Submit</button>
</form>
<title>Registration</title>