@{
    if (!(int.TryParse(Request.QueryString["id"], out int id) && id > 0))
    {
        Response.Redirect("~/cshtml/index");
    }

    var forumLogic = EPAM.Final_Common.DependencyResolver.ForumLogic;
    var u = forumLogic.GetUser(id);

    if (object.Equals(u, null))
    {
        Response.Redirect("~/cshtml/index");
    }

    Layout = "~/cshtml/_layout.cshtml";
}
<div class="highlight">
    <p class="title">@u.Username</p>
    <a class="thickening" href="~/cshtml/index?userId=@u.Id">Threads</a>
    <a class="thickening" href="~/cshtml/thread?userId=@u.Id">Posts</a>

    @if (u.Username.Equals(User.Identity.Name) & !u.Username.Equals("admin"))
    {
        <a class="thickening" href="~/cshtml/editUser?id=@u.Id">Edit user</a>
    }
</div>
<title>User: @u.Username</title>