* {
    margin: 0;
    padding: 0;
}

body {
    height: 95vh;
}

.container {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 90%;
    margin: 5vh auto 0;
    border-radius: 10px;
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.control {
    width: 268px;
    margin: 16px auto 0;
}

button {
    float: right;
    width: 64px;
    height: 64px;
    border: none;
}

#previous {
    background: url('https://img.icons8.com/material-rounded/64/000000/rewind.png');
}

#next {
    background: url('https://img.icons8.com/material-rounded/64/000000/play.png');
}

#stop {
    background: url('https://img.icons8.com/material-rounded/64/000000/stop.png');
}

#timer {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}