ul {
    width: 200px;
    background: #f9e497;
    color: #880000;
    list-style: none;
    padding: 0;
    border: 1px solid #5e5e5e;
    border-radius: 10px;
    box-shadow: 5px 5px #880000;
}

li {
    margin: 0.45em;
}