@using EPAM.Final_Common;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect($"~/html/threads");
    }

    Layout = "~/html/partial/_layout.cshtml";
    var userLogic = DependencyResolver.UserLogic;
    var users = userLogic.GetAll();
}
<div>
    @foreach (var u in users)
    {
        <div>
            <a href="~/html/user?id=@u.Id">@u.Username</a>
            @if (u.Role.Equals("user"))
            {
                <a href="~/html/functional/editUserRole?userId=@u.Id&newRoleId=2">Give moderation rights</a>
            }
            @if (u.Role.Equals("moderator"))
            {
                <a href="~/html/functional/editUserRole?userId=@u.Id&newRoleId=3">Take moderation rights</a>
            }
            @if (!u.Role.Equals("banned") && !u.Role.Equals("admin"))
            {
                <a href="~/html/functional/editUserRole?userId=@u.Id&newRoleId=4">Ban user</a>
            }
            @if (u.Role.Equals("banned"))
            {
                <a href="~/html/functional/editUserRole?userId=@u.Id&newRoleId=3">Unban user</a>
            }
            @if (!u.Role.Contains("admin"))
            {
                <a href="javascript:Confirmation('functional/deleteUser?id=@u.Id');">Delete User</a>
            }
        </div>
    }
</div>
<head>
    <title>Administration</title>
</head>