@using EPAM.Final_Common;
@{
    if (!(int.TryParse(Request.QueryString["id"], out int id)))
    {
        Response.Redirect($"~/html/threads");
    }

    var userLogic = DependencyResolver.UserLogic;
    var u = userLogic.Get(id);

    if (!u.Username.Equals(User.Identity.Name))
    {
        Response.Redirect($"~/html/threads");
    }

    Layout = "~/html/partial/_layout.cshtml";

    if (IsPost)
    {
        string newUsername = Request["newUsername"];
        string newPassword = Request["newPassword"];
        string confirmation = Request["confirmation"];

        if (newUsername.Length < 3 || newUsername.Length > 20)
        {
            <script>alert("Username must be between 3 and 20 characters")</script>
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(newPassword) && newPassword.Length < 6)
            {
                <script>alert("Password must be at least 6 characters long")</script>
            }
            else
            {
                if (!newPassword.Equals(confirmation))
                {
                    <script>alert("Wrong password confirmation")</script>
                }
                else
                {
                    if (userLogic.Edit(id, newUsername, newPassword) > 0)
                    {
                        FormsAuthentication.SetAuthCookie(newUsername, createPersistentCookie: true);
                        Response.Redirect($"~/html/user?id={id}");
                    }
                    else
                    {
                        <script>alert("User with this username already exist")</script>
                    }
                }
            }
        }
    }
}
<form id="newUser" method="post">
    <label>Username</label>
    <input placeholder="must be between 3 and 20 characters" value="@u.Username" type="text" name="username" maxlength="20" />
    <label>Password (leave blank if you don't change)</label>
    <input placeholder="must be at least 6 characters long" type="password" name="password" max="128">
    <label>Confirm password</label>
    <input type="password" name="password" max="128">
    <button type="submit">Submit</button>
</form>
<head>
    <title>User Editing</title>
</head>
