@using EPAM.Final_Common;
@{
    Layout = "~/html/partial/_layout.cshtml";
    if (IsPost)
    {
        string username = Request["username"];
        string password = Request["password"];
        string confirmation = Request["confirmation"];

        if (username.Length < 3 || username.Length > 20)
        {
            <script>alert("Username must be between 3 and 20 characters")</script>
        }
        else
        {
            if (password.Length < 6)
            {
                <script>alert("Password must be at least 6 characters long")</script>
            }
            else
            {
                {
                    if (!password.Equals(confirmation))
                    {
                        <script>alert("Wrong password confirmation")</script>
                    }
                    else
                    {
                        var userLogic = DependencyResolver.UserLogic;
                        if (userLogic.New(username, password))
                        {
                            <script>alert("Successfull")</script>
                            <script>location.href = "threads"</script>
                        }
                        else
                        {
                            <script>alert("User with this username already exist")</script>
                        }
                    }
                }
            }
        }
    }
}
<div>
    <form id="newUser" method="post">
        <table>
            <tr>
                <td><input placeholder="Username" type="text" name="username" maxlength="20" /></td>
                <td>must be between 3 and 20 characters</td>
            </tr>
            <tr>
                <td><input placeholder="Password" type="password" name="password" max="128"></td>
                <td>must be at least 6 characters long</td>
            </tr>
            <tr>
                <td><input placeholder="Confirm Password" type="password" name="confirmation" max="128"></td>
                <td></td>
            </tr>
            <tr>
                <td><button class="bright" type="submit">Register</button></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<head>
    <title>Registration</title>
    <script src="~/scripts/JavaScript.js"></script>
</head>